:root {
    --green: #65DD2C;
    --red: #ED431E;
    --black: #2F3035;
    --white: #fff;
    --beige: #f5f5f5;
    --grey: #c4c4c4;
    --green8: rgba(101, 221, 44, 0.43);
}
button {
    border: none;
    background: transparent;
}
a {
    text-decoration: none;
}
ul, li, label {
    padding: 0;
    margin: 0;
}
body {
    background: var(--beige);
}  
input[type="checkbox"] {
    margin: 0;
}